#dashboard_content {
    padding-left: 3%;
    padding-top: 3%;
}

#upload_img_area {
    margin-left: 48px;
    width: 180px;
    margin-top: -15px;
    height: 140px;
    margin-bottom: 25%;
    padding-bottom: 70%;
}

#head_pic {
    position:absolute;
    z-index:-1;
    width:100%;
}

#upload_img_button_background {
    position:relative;
    display:flex;
    justify-content:safe center;
    vertical-align:middle;
}

#upload_img_button {
    height:128px;
    width:128px;
    position:absolute;
    z-index:1;
    margin-top:15%;
    display:none;
    background-image: url('/img/upload.svg');
    cursor:pointer;
}

.tag-link {
    font-weight: 500;
    color: #ffbfc1;
}
