
/*
  LambdaChip's Advertisement for this site
 */
.ad {
  position: relative;
  display: block;
  max-height: 196px;
  max-width: 320px;
  border: 1px solid #d6d6d6;
  overflow: hidden;
}

.ad img {
  max-width: 100%;
  max-height: 100%;
}

.ad-tips {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 5px;
  background: #dcc;
}

/* display for post list view (home) */
.ad-wrapper-list {
  margin-top: -30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

/* display for post detail view(article) */
.ad-wrapper-post {
  margin: 30px 0 30px 30px;
  float: right;
  margin-left: 3em;
  display: flex;
  justify-content: center;
}

@media (max-width: 639px) {
  .ad-wrapper-post {
    float: none;
    margin: 30px 10px;
  }
}
